<div class="menu" #menu >
    <div (click)='hideMenu()' class="hide" #hide> Hide menu</div>

    <div class="brand">
        <img src='../assets/img/rimac-logo.png'>
    </div>

    <div class="menu-el active">
        <div> 
            <img src='../assets/icons/bar-chart-outline.svg'>
        </div>
        <p>Overview</p>
    </div>

    <div class="menu-el">
        <div> 
            <img src='../assets/icons/images-outline.svg'>
        </div>
        <p>Dataset</p>
    </div>

    <div class="menu-el">
        <div> 
            <img src='../assets/icons/cloud-upload-outline.svg'>
        </div>
        <p>New Test</p>
    </div>

    <div class="menu-el">
        <div> 
            <img src='../assets/icons/document-outline.svg'>
        </div>
        <p>Compliance</p>
    </div>

    <div class="menu-el">
        <div> 
            <img src='../assets/icons/cog-outline.svg'>
        </div>
        <p>Settings</p>
    </div>

    <div class="powered"> <span>powered by</span> <img src='https://images.squarespace-cdn.com/content/v1/60886120e95d27168bb0eea5/1621498822495-GYLUO1IARB0P4Q7RQW63/Lakera+Exploration-07.png?format=300w'></div>
</div>